<ng-container *ngIf="showForm; else elseTemplate">
  <div class="container">
    <div class="form-group" style="margin: 50pt">
      <label for="title">Título:</label>
      <input type="text" class="form-control"
        placeholder="Ingrese el título de la residencia" id="title" [(ngModel)]="title"
        (ngModelChange)="hasChanged()">
      <select *ngIf="showResidence">
        <option value="" disabled selected>Seleccione la residencia</option>
        <option value="titleRes">{{titleRes}}</option>
      </select>
      <p style="margin: 10px" *ngIf="changed">Buscando {{title}} ...</p>
      <br>
      <label for="title">Valor:</label>
      <input class="form-control" placeholder="Ingrese el valor incial" type="number" min="5" step="any" id="valor">
      <small>En U$S | Ej: 550.000</small>
      <select id="semana">
        <option value="" disabled selected>Seleccione una semana</option>
        <option value="2020-00-01">1er semana de enero de 2020</option>
        <option value="2020-00-08">2da semana de enero de 2020</option>
        <option value="2020-00-15">3ra semana de enero de 2020</option>
        <option value="2020-00-22">4ta semana de enero de 2020</option>
      </select>
    </div>
  </div>

  <div class="container">
    <button (click)="getInputs()" id="aceptar" class="btn btn-default">Aceptar</button>
    <button style="margin: 10px" id="cancelar" routerLink="/" class="btn btn-default">Cancelar</button>
  </div>

</ng-container>

<ng-template #elseTemplate>
  <div class="container" style="margin: 50px">
    <div class="alert alert-success">
      <strong>¡Perfecto, la subasta ha sido registrada!</strong>
      <p>Recuerde que se habilitará cuando falten 72hs para el comienzo de la semana en cuestión</p>
    </div>
  </div>
</ng-template>
