@{
    ViewBag.Title = "Crear propiedad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="propiedadesController">
    <div class="container">
        <h2>Modificar residencia</h2>
        <form>
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input ng-model="nombre" type="text" class="form-control" id="nombre" placeholder="Ingrese el nuevo título">
                <small>Mayor a 8 caracteres.</small>
            </div>
            <div class="form-group">
                <label for="domicilio">Domicilio:</label>
                <input ng-model="domicilio" type="text" class="form-control" id="domicilio" placeholder="Ingrese el nuevo domicilio">
                <small>Mayor a 20 caracteres.</small>
            </div>
            <div class="form-group">
                <label for="pais">País:</label>
                <input ng-model="pais" type="text" class="form-control" id="pais" placeholder="Ingrese el país">
                <small>Mayor a 20 caracteres.</small>
            </div>
            <div class="form-group">
                <label for="description">Descripción:</label>
                <input ng-model="descripcion" type="text" class="form-control" id="descripcion" placeholder="Ingrese una descripción">
                <small>Mayor a 20 caracteres.</small>
            </div>
        </form>
    </div>

    <div class="container">
        <button ng-click="aceptar()" id="aceptar" class="btn btn-default">Modificar</button>
        <button ng-click="salir()" style="margin: 10px" id="cancelar" class="btn btn-default">Cancelar</button>
    </div>
</div>
