<div class="container" style="margin: 50px">
  <h1>Nuestras residencias</h1>
  <p>Filtro por ubicación</p>
  <select id="ubicacion" class="form-control selectpicker" (click)="getInputs()">
    <option disabled selected>Elija la ubicación</option>
    <option>Sin filtro</option>
    <option value="{{u}}" *ngFor="let u of ubicaciones">{{u}} ({{cantResWithUbication(u)}} residencias)</option>
  </select>
  <div style="margin: 5%" class="grid-container">
    <ul *ngFor="let r of arrayResToShow">
      <li>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{r.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{r.ubication}}</h6>
            <p class="card-text">{{r.description}}</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>