@{
    ViewBag.Title = "RESIDENCIAS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <link rel="stylesheet" type="text/css" href="~/Content/hotsale_section.css" />

<header style="position: relative; height: 300px; background-image: linear-gradient(to top, rgba(245, 246, 252, 0.52), #0a0b55), url(../../../../app-content/bg_hotsale.jpg)">
    <h1 style="margin: 0; padding: 100px 0; font: 44px; color: white; text-align: center;">HOT SALES</h1>
</header>

<div ng-controller="hotsalecontroller">

    <section class="ftco-section testimony-section bg-light">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                </div>
            </div>
        </div>

        <div class="flex-row flex-md-column">
            <div class="card transition" ng-repeat="hotsale in hotsales" >
                <h2 class="transition">{{hotsale.Propiedad.Nombre}}</h2>
                <p>{{hotsale.Propiedad.Ciudad}} ({{hotsale.Propiedad.Pais}}) - {{hotsale.FechaDisponible}}</p>
                <div class="cta-container transition"><button id="{{hotsale.IdHotSale}}"  ng-click="reservahotsale($event.currentTarget.id)" class="cta">{{hotsale.Precio}} USD </button></div>
                <div class="card_circle transition" style="background: url('{{hotsale.Propiedad.Imagenes[0].path}}') no-repeat center bottom;"> </div>
            </div>
        </div>
    </section>
</div>

<script src="~/Scripts/app/HotSale_AngularJS.js"></script>