<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content px-4 py-2">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">SUBASTA</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">

            <form>
                <div class="form-row">

                    <input style="display : none" id="identificadorSubasta">
                    <div class="form-group col-md-12">
                        <label for="nombre">VALOR A PUJAR:</label>
                        <input ng-model="valorMaximo" type="number" class="form-control" id="valorPujado" placeholder="Ingrese un nombre">
                    </div>
                </div>

            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" ng-click="pujar()" class="btn btn-primary">Pujar</button>
        </div>
    </div>
</div>