@{
    ViewBag.Title = "SUBASTAS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row justify-content-center pb-5 jumbotron jumbotron-fluid shadow" style="margin: 20px">
        <div class="col-md-7 text-center heading-section ftco-animate fadeInUp ftco-animated">
            <h4 class="display-4">SUBASTAS ACTIVAS</h4>    
        </div>
    </div>
</div>

<div ng-controller="subastasController">
    <section class="ftco-section services-section" id="destacados">
        <div class="col-lg-4">
            <h5>Filtrar</h5>
            <input class="form-control" type="text" ng-model="filtroNombre" ng-change="filtrar()" placeholder="Filtre por nombre de la residencia" />
            <input style="margin-top: 5px" class="form-control" type="text" ng-model="filtroPais" ng-change="filtrar()" placeholder="Filtre por el país de la residencia" />
        </div>
        <div class="row">
            <div class="btn-toolbar py-2" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Secound group">
                    <h6 class="toast-header">Activas hoy: {{date | date:'yyyy-MM-dd'}} </h6>
                </div>
            </div>
        </div>
        <div ng-hide="subastasIsEmpty()" class="container">
            <div style="margin-top:15px" class="row">
                <div class="col col-sm-4" ng-repeat="subasta in subastasListFiltradas">
                    <div class="card flexcss">
                        <div class="card-header">
                            <h4 class="card-title">{{subasta.Propiedad.Nombre}}</h4>
                            <h6 class="card-subtitle>">{{subasta.Propiedad.Pais}}</h6>
                        </div>

                        <div class="card-body">
                            <p class="card-text">
                                <h6>Fecha de comienzo : {{subasta.FechaComienzo}}</h6>
                                <h6>Finaliza en: {{finalizaEn(subasta)}} hs.</h6>
                                Valor Actual: <br> {{subasta.ValorActual}} USD
                            </p>
                            <div class="card-footer">

                                <button id="{{subasta.IdSubasta}}" class="btn btn-group-sm btn-primary subasta-puja" data-toggle="modal" title="Pujar" data-target="#pujaSubastaModal"><i class="fa fa-fw fas fa-hand-paper-o"></i></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div ng-show="subastasIsEmpty()" class="container">
            <p>No se encuentran subastas con ese nombre/país.</p>
        </div>
    </section>

    <div class="modal fade" id="pujaSubastaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        @Html.Partial("_PujaSubasta")
    </div>

</div>

<script src="~/Scripts/app/Subastas_AngularJS.js"></script>
<script src="~/Scripts/app/subastaSection.js"></script>