@{
    ViewBag.Title = "SUBASTAS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <header style="position: relative; height: 300px; clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw)); background-image: linear-gradient(#2c5fa1, white);">
        <h1 style="margin: 0; padding: 100px 0; font: 44px; color: white; text-align: center;">SUBASTAS</h1>
    </header>

<div ng-controller="subastasController">
    <section class="ftco-section services-section" id="destacados">        

        <div class="btn-toolbar py-2" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Secound group">
                    <h4 class="toast-header">Activas hoy: {{date | date:'yyyy-MM-dd'}} </h4>
                </div>
            </div>
        
        <div ng-hide="subastasIsEmpty()" class="container">
            <div style="margin-top:15px" class="row">
                <div class="col col-sm-4" ng-repeat="subasta in subastasList">
                    <div class="card flexcss">

                        <div class="card-header" style="background-color:#1b2c55; color:snow;">
                            <h4 class="card-title">{{subasta.Propiedad.Nombre}}</h4>
                            <h6 class="card-subtitle>">{{subasta.Propiedad.Pais}}</h6>
                        </div>

                        <div class="card-body">
                            <p class="card-text">
                                <h6>La reserva comienza el dia: {{subasta.FechaReserva}}</h6>

                                Valor Actual: <br /> <div ng-hide="subastaEstaPujada({{subasta.ValorActual}})"> {{subasta.ValorActual}} USD </div>
                                                     <div ng-show="subastaEstaPujada({{subasta.ValorActual}})"> {{subasta.ValorMinimo}} USD </div>
                            </p>
                            <div class="card-footer">

                                <button id="{{subasta.IdSubasta}}" class="btn btn-group-sm btn-primary subasta-puja" data-toggle="modal" title="Pujar" data-target="#pujaSubastaModal"><i class="fa fa-fw fas fa-hand-paper-o"></i></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div ng-show="subastasIsEmpty()" class="container">
            <p>No se encuentran subastas activas.</p>
        </div>
    </section>

    <div class="modal fade" id="pujaSubastaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        @Html.Partial("_PujaSubasta")
    </div>

</div>

<script src="~/Scripts/app/Subastas_AngularJS.js"></script>
<script src="~/Scripts/app/subastaSection.js"></script>