<!--
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Crear residencia</h2>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Ingrese un email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Contraseña:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Ingrese una contraseña" name="pwd">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Recordar contraseña</label>
    </div>
    <button type="submit" class="btn btn-default">Aceptar</button>
  </form>
</div>

</body>
-->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://cdn.icon-icons.com/icons2/390/PNG/512/house_38533.png" alt=""/>
                        <h3>Vamos a crear una residencia</h3> <br/>
                        <p>¿Ya tienes cuenta? Inicia <b>sesión</b></p>
                        <input type="submit" name="" value="Login"/><br/>
                    </div>
                    <div class="col-md-9 register-right">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Crear una residencia</h3> <br/>
                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Título" value="" />
                                </div>
                                <div class="form-group">
                                  <select class="form-control">
                                    <option class="hidden"  selected disabled>Elija el país</option>
                                    <option>Argentina</option>
                                    <option>Canadá</option>
                                    <option>España</option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <input type="password" class="form-control" placeholder="Descripción" value="" />
                                </div>
                                <input type="submit" class="btnRegister"  value="Registrar residencia"/>                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>