@{
    ViewBag.Title = "RESIDENCIAS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header style="position: relative; height: 300px; clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw)); background-image: linear-gradient(#2c5fa1, white);">
    <h1 style="margin: 0; padding: 100px 0; font: 44px; color: white; text-align: center;">RESIDENCIAS</h1>    
</header>

<section>

    <div ng-controller="propiedadesController">
        <section class="ftco-section services-section" id="destacados">
            <div class="container">
                <div class="row">
                    <div class="btn-toolbar py-2" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Secound group">
                            <button type="button" class="btn btn-secondary" disabled><i class="fa fa-fw fas fa-search"></i></button>

                            <input type="text" ng-model="filtroNombre" ng-change="filtrar()" placeholder="Filtre por nombre" />
                            <input style="margin-left:5px" type="text" ng-model="filtroPais" ng-change="filtrar()" placeholder="Filtre por país" />
                        </div>

                    </div>

                    <table class="table table-sm table-borderless scrolled" style="text-align: left;">
                        <thead>
                            <tr>
                                <th style="width: 30%;" scope="col">NOMBRE</th>
                                <th style="width: 50px;" scope="col">PAIS</th>
                                <th style="width: 20px;" scope="col"></th>
                                <th style="width: 20px;" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="propiedad in propiedadesListFiltradas">

                                <td>{{propiedad.Nombre}}</td>
                                <td>{{propiedad.Pais}}</td>
                                <td>
                                    <button id="{{propiedad.IdPropiedad}}" ng-click="detallar($event.currentTarget.id)" class="btn btn-group-sm btn-primary propiedad-detalle" data-toggle="modal" data-target="#detallePropiedadModal">
                                        <i class="fa fa-fw fa fa-info-circle"></i>
                                        <span class="tooltiptext">INFO</span>
                                    </button>
                                </td>

                                @{if (User.Identity.Name == "CLIENTE")
                                    {
                                        <td>
                                            <button id="{{propiedad.IdPropiedad}}" ng-click="solicitarnovedad($event.currentTarget.id)" class="btn btn-group-sm btn-outline-warning propiedad-detalle">
                                                <i class="fa fas fa-bell" aria-hidden="true"></i>
                                                <span class="tooltiptext">NOTIFICAR NOVEDADES</span>
                                            </button>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <button style="background-color:#90c322" id="{{propiedad.IdPropiedad}}" ng-click="elegirfecha($event.currentTarget.id)" class="btn btn-group-sm propiedad-detalle" data-toggle="modal" data-target="#reservaPropiedadModal">
                                                <i class="fa fas fa-calendar-check-o" aria-hidden="true"></i>
                                                <span class="tooltiptext">RESERVAR</span>
                                            </button>
                                        </td>
                                    }
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <div class="modal fade" id="detallePropiedadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            @Html.Partial("_DetallePropiedad")
        </div>

        <div class="modal fade" id="reservaPropiedadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            @Html.Partial("_ReservaPropiedad")
        </div>
    </div>


</section>


<script src="~/Scripts/app/propiedadSection.js"></script>
<script src="~/Scripts/app/Propiedad_AngularJS.js"></script>