@{
    ViewBag.Title = "RESIDENCIAS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header style="position: relative; height: 300px; clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw)); background-image: linear-gradient(#2c5fa1, white);">
    <h1 style="margin: 0; padding: 100px 0; font: 44px; color: white; text-align: center;">RESIDENCIAS</h1>    
</header>

<section>

    <div ng-controller="propiedadesController">
        <section class="ftco-section services-section" id="destacados">
            <div class="container">
                <div class="row">

                    <ul class="list-unstyled card-option d-flex justify-content-around">


                        <li class="col">
                            <div class="input-group">
                                <input type="text" ng-model="filtroNombre" ng-change="filtrar()" placeholder="Filtre por nombre" />
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="button">
                                        <i class="fa fa-fw fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="input-group">
                                <input style="margin-left:5px" type="text" ng-model="filtroPais" ng-change="filtrar()" placeholder="Filtre por país" />
                                <div class="input-group-append">
                                    <button  style="background-color: #2c5fa1; color:#ffffff" class="btn" type="button">
                                        <i class="fa fa-fw fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </li>

                    </ul>
                    
                    <table class="table table-sm table-borderless scrolled" style="text-align: left;">
                        <thead style="background-color:#142c4e; color:#ffffff">
                            <tr>
                                <th style="width: 40%;" scope="col">NOMBRE</th>
                                <th style="width: 40%;" scope="col">PAIS</th>
                                <th style="width: 10%;" scope="col"></th>
                                <th style="width: 10%;" scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="propiedad in propiedadesListFiltradas">

                                <td>{{propiedad.Nombre}}</td>
                                <td>{{propiedad.Pais}}</td>
                                <td>
                                    <button id="{{propiedad.IdPropiedad}}" ng-click="detallar($event.currentTarget.id)" class="btn btn-sm propiedad-detalle" data-toggle="modal" data-target="#detallePropiedadModal">
                                        <i class="fa fa-fw fa fa-info-circle"></i>
                                        <span class="tooltiptext">INFO</span>
                                    </button>
                                </td>

                                @{if (User.Identity.Name == "CLIENTE")
                                    {
                                        <td>
                                            <button id="{{propiedad.IdPropiedad}}" ng-click="solicitarnovedad($event.currentTarget.id)" class="btn btn-sm">
                                                <i class="fa fas fa-bell" aria-hidden="true"></i>
                                                <span class="tooltiptext">NOTIFICAR NOVEDADES</span>
                                            </button>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <button style="background-color:#90c322" id="{{propiedad.IdPropiedad}}" ng-click="elegirfecha($event.currentTarget.id)" class="btn btn-sm" data-toggle="modal" data-target="#reservaPropiedadModal">
                                                <i class="fa fas fa-calendar-check-o" aria-hidden="true"></i>
                                                <span class="tooltiptext">RESERVAR</span>
                                            </button>
                                        </td>
                                    }
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <div class="modal fade" id="detallePropiedadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            @Html.Partial("_DetallePropiedad")
        </div>

        <div class="modal fade" id="reservaPropiedadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            @Html.Partial("_ReservaPropiedad")
        </div>
    </div>

</section>

<script src="~/Scripts/app/propiedadSection.js"></script>
<script src="~/Scripts/app/Propiedad_AngularJS.js"></script>