@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="propiedadesController" class="container" style="margin: 50px">

    <div class="container card-header">
        <h4>Residencias</h4>
    </div>

    <a href="@Url.Action("CrearPropiedad", "Propiedad")" class="btn btn-sm btn-primary">NUEVA RESIDENCIA</a>

    <div class="container jumbotron-fluid">
        <table class="table table-fixed propiedades-scrollbar table-wrapper-scroll-y">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Pais (Ubicacion)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="propiedad in propiedadesList">
                    <td>{{propiedad.Nombre}}</td>
                    <td>{{propiedad.Pais}} ({{propiedad.Domicilio}})</td>
                    <td> <button id="{{propiedad.IdPropiedad}}" class="btn btn-group-sm btn-primary propiedad-seleccionada"> Modificar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="modalAgregarEditar" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    @Html.Partial("_AgregarEditarPropiedad")
</div>


<script src="~/Scripts/app/propiedadSection.js"></script>
<script src="~/Scripts/app/Propiedad_AngularJS.js"></script>


