@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body, html {
  height: 100%;
  margin: 0 auto;
}
body {
  font-family: 'Montserrat';
  font-size: 18px;
}
a {
  text-decoration: none;
}

.containerNav {
  width: 80%;
  margin: 0 auto;
  padding: 1.3em;
  display: grid;
  grid-template-columns: 30% auto;
}


.containerNav a {
  color: white;
}
section {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
}

.colorAux {
  color: burlywood;
}