<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content px-4 py-2">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">GESTION DE HOT SALE</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">

            <form>
                <div class="form-row">

                    <input style="display : none" id="identificadorHotSale">
                    <div class="form-group col-md-6">
                        <label for="nombre">Fecha de HOT SALE:</label>
                        <input ng-model="fecha" type="text" id="fechahotsale" class="calendarhotsale form-control" name="fechahotsale" />

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="description">Valor (USD):</label>
                        <input ng-model="valor" type="text" class="form-control" id="valorhotsale" style="width:200px;">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="pais">Residencia:</label>
                        <select ng-model="propiedad" type="text" class="form-control propiedad-select" id="propiedad_hotsale" placeholder="Seleccione una propiedad">
                            <option id="{{ prop.IdPropiedad }}" value="{{ prop.IdPropiedad }}" ng-repeat="prop in propiedades"> {{ prop.Nombre}} ({{prop.Pais}})</option>
                        </select>

                    </div>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" id="boton-crear-hotsale" style="display:none" ng-click="altahotsale()" class="btn btn-primary">Agregar</button>
            <button type="button" id="boton-modificar-hotsale" style="display:none" ng-click="modificarhotsale()" class="btn btn-primary">Guardar Cambios</button>
        </div>
    </div>
</div>

