<div id="forgetpass" class="modal modal-child" data-backdrop-limit="1" tabindex="-1" role="dialog" aria-labelledby="forgetpass-modal" aria-hidden="true" data-modal-parent="#LoginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">RECUPERAR CONTRASEÑA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="usuariobusqueda">
            </div>
            <div class="modal-footer">
                <button id="forget-mail" class="btn btn-default" data-dismiss="modal" aria-hidden="true">SOLICITAR</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">CANCELAR</button>
            </div>

        </div>
    </div>
</div>
