@{
    ViewBag.Title = "Crear subasta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/app/Home.js"></script>

<section class="py-5">
    <div class="container">

        <div ng-controller="subastasController">
            <div class="container">
                <h2>Crear subasta</h2>
                <div class="form-group">
                    <label for="title">Nombre:</label>

                    <input ng-model="idPropiedad" type="text" name="city" list="propiedad">
                    <datalist id="propiedad">
                        <option ng-repeat="prop in propiedadSubasta" value="{{prop.IdPropiedad}}">{{prop.Nombre}}
                    </datalist>

                    <label for="title">Valor:</label>
                    <input ng-model="valorMinimo" class="form-control" placeholder="Ingrese el valor incial" type="number" min="5" step="any" id="valor">
                    <small>En U$S | Ej: 5500.00</small>
                    <br>
                    <label for="semana" style="margin-top: 10px">Fecha de comienzo:</label>
                    <input ng-model="fechaComienzo" id="semana" type="date" style="width: auto">
                </div>
            </div>

            <div class="container">
                <button ng-click="aceptar()" id="aceptar" class="btn btn-default">Aceptar</button>
                <a href="@Url.Action("Subastas", "Home")" style="margin: 10px" id="cancelar" class="btn btn-default">Cancelar</a>
            </div>
        </div>

    </div>
</section>