@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/app/Home.js"></script>

@*<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <div ng-controller="subastasController">
            <div ng-repeat="subasta in subastasList" class="carousel-inner" role="listbox">

                <div class="carousel-item" style="background-image: url('/app-content/albuquerque_nm.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 class="display-4">{{model.subasta.residencia.nombre}} - {{model.subasta.residencia.nombre}}</h2>
                        <p class="lead"> Comenzando el {{model.subasta.FechaComienzo}} en {{model.subasta.PrecioInicial}} U$S </p>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</header>*@


<section class="py-5">
    <div class="container">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">

                    <div class="col-md-6">

                        <div class="wrimagecard wrimagecard-topimage">
                            <a href="#">
                                <div class="wrimagecard-topimage_header" style="background-color: rgba(255, 255, 255, 0.89)">
                                    <div class="d-flex justify-content-around grid-divider">
                                        <i data-feather="briefcase" style="color:rgb(252, 122, 122);width: 12%; height: 20%;"></i>

                                        <text style="font-size: 160%;color:rgb(252, 122, 122);">SUBASTAS</text>
                                    </div>
                                </div>
                                <div class="wrimagecard-topimage_title">
                                    <p class="card-text">Subastas activas: <span style="color:rgb(184, 238, 202);">{{model.subastas.length}}</span>.</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="wrimagecard wrimagecard-topimage">
                            <a href="#">
                                <div class="wrimagecard-topimage_header" style="background-color: rgba(255, 255, 255, 0.89)">
                                    <div class="d-flex justify-content-around grid-divider">
                                        <i class="fas fa-houzz" style="color:rgb(236, 199, 96);width: 12%; height: 20%;"></i>

                                        <text style="font-size: 160%;color:rgb(236, 199, 96);">PROPIEDADES</text>
                                    </div>
                                </div>
                                <div class="wrimagecard-topimage_title">
                                    <p class="card-text">Cantidad de propiedades: <span style="color:rgb(184, 238, 202);">{{model.propiedades.length}}</span>.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="unObj" ng-controller="propiedadesController">
    <div ng-repeat="propiedad in propiedadesList">
        {{propiedad.Nombre}} {{propiedad.Pais}}
    </div>
</div>
