@using HomeSwitchHome.ViewModels;

@{
    ViewBag.Title = "Propiedades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/app/Home.js"></script>


<div id="searchy">

    <div ng-controller="propiedadesController" class="container" style="margin: 50px">
        <h1>Nuestras residencias</h1>

        <table class="table table-bordered">
            <thead>
                <th></th>
                <th>Nombre</th>
                <th>Pais</th>
            </thead>
            <tbody>
                <tr ng-repeat="propiedad in propiedadesList">
                    <td>{{propiedad.IdPropiedad}}</td>
                    <td>{{propiedad.Nombre}}</td>
                    <td>{{propiedad.Pais}}</td>
                    <td> <button class="btn btn-primary"> Modificar</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <a href="@Url.Action("CrearPropiedad", "Home")" class="btn btn-primary">NUEVA RESIDENCIA</a>
</div>