<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Home Sweet Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contactos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active" style="background-image: url('http://s1.picswalls.com/wallpapers/2014/08/08/house-high-definition_015636558_148.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4" >Albuquerque, New Mexico</h2>
          <p class="lead">Comenzando en 500 U$S.</p>
        </div>
      </div>

      <div class="carousel-item" style="background-image: url('http://s1.picswalls.com/wallpapers/2014/08/08/free-house-wallpaper_015635518_148.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Antananarivo, Madagascar</h2>
          <p class="lead">Comenzando en 350 U$S.</p>
        </div>
      </div>

      <div class="carousel-item" style="background-image: url('http://s1.picswalls.com/wallpapers/2014/08/08/house-backgrounds_015635739_148.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Reikiavik, Islandia</h2>
          <p class="lead">Comenzando en 1,500 U$S.</p>
        </div>
      </div>
	  
	  <div class="carousel-item" style="background-image: url('https://dyhx7is8pu014.cloudfront.net/www.djdenner.ca/homes/27643/web/665-greenwood-rd-360hometours-81.jpg?timestamp=1493077623')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Vancouver, Canada</h2>
          <p class="lead">Comenzando en 3,500 U$S.</p>
        </div>
      </div>
	  
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

<section class="py-5">
  <div class="container">
    <h1 class="display-4">Descripción</h1>
    <p class="lead"></p>
  </div>
</section>
