<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content px-4 py-2">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">CAMBIO DE CONTRASEÑA</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">

            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nombre">CONTRASEÑA ACTUAL:</label>
                        <input ng-model="passvieja" type="password" id="passvieja" class="form-control" />

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="description">NUEVA CONTRASEÑA:</label>
                        <input ng-model="passnueva" type="password" id="passnueva" minlength="8" class="form-control" />
                    </div>
                </div>                
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" id="boton-crear-hotsale" ng-click="cambiarcontrasenia()" class="btn btn-primary">Cambiar</button>
            
        </div>
    </div>
</div>
