@{
    ViewBag.Title = "MI CUENTA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link rel="stylesheet" type="text/css" href="~/Content/perfilSection.css" />

    <header style=" margin-bottom:200px; position: relative; height: 300px;  background-image: linear-gradient(to top, rgba(245, 246, 252, 0.52), #2c5fa1), url(../../../../app-content/backgroup_propiedades.jpg);">
        <h1 style="margin:0; padding: 100px 0; font: 44px; color: white; text-align: center;">INFORMACION PERSONAL</h1>
    </header>

    <div ng-controller="perfilcontroller" class="flex-container">

        <div class="center flex-item">

            <div class="card">
                <div class="additional">
                    <div class="user-card">
                        <div class="level center">
                            @{if (User.Identity.Name == "CLIENTE")
                                {
                                    <h6 class="col-10" style="color:#605c5c">basica</h6>


                                }
                                else
                                {
                                    <h6 style="color:#eaca0c;">premium</h6>
                                }

                            }
                        </div>
                        <div class="points center">
                            cambiar contraseña
                        </div>
                        <svg width="110" height="110" viewBox="0 0 250 250" role="img" aria-labelledby="title desc" class="center">

                            <circle cx="125" cy="125" r="120" fill="rgba(0,0,0,0.15)" />

                        </svg>
                    </div>
                    <div class="more-info">
                        <h1>{{usuario.Nombre}} {{usuario.Apellido}}</h1>
                        <div class="coords">
                            <span>Banco</span>
                            <span>{{usuario.Banco}}</span>
                        </div>
                        <div class="coords">
                            <span>CBU</span>
                            <span>{{usuario.CBU}}</span>
                        </div>

                    </div>
                </div>
                <div class="general">
                    <h1>{{usuario.Nombre}} {{usuario.Apellido}}</h1>

                    <p>{{usuario.Email}}</p>
                    <span class="more">Informacion Adicional</span>
                </div>
            </div>
        </div>


        <div class="col-6">
            <h2 class="sub-header">Reservas Año {{anioactual | date:'yyyy'}} Creditos Restantes: {{actualcreditos}}</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-1">FECHA</th>
                            <th class="col-md-2">RESIDENCIA</th>
                            <th class="col-md-3">UBICACION</th>
                            <th class="col-md-4">TIPO</th>
                            <th class="col-md-5"></th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr ng-repeat="reserva in reservasactuales">
                            <td>{{reserva.Propiedad.Nombre}}</td>
                            <td>{{reserva.Propiedad.Ciudad}} ({{reserva.Propiedad.Pais}})</td>
                            <td>{{reserva.FechaReserva}}</td>
                            <td>
                                <div ng-if="reserva.Credito">
                                    <b style="color:#24720d">RESERVA</b>
                                </div>
                                <div ng-if="!reserva.Credito">
                                    <b style="color:#ff0000">HOT SALE</b>
                                </div>

                            </td>
                            <td> <button id="{{reserva.IdReserva}}" ng-click="cancelarreserva($event.currentTarget.id)" class="btn btn-sm btn-danger" style="float:right;"> <i class="fa fa-fw fas fa-remove"></i></button></td>
                        </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6">
            <h2 class="sub-header">Reservas Año {{anioproximo}} Creditos Restantes: {{proximocreditos}}</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-1">FECHA</th>
                            <th class="col-md-2">RESIDENCIA</th>
                            <th class="col-md-3">UBICACION</th>
                            <th class="col-md-4">TIPO</th>
                            <th class="col-md-5"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="reserva in reservasproximas">
                            <td>{{reserva.Propiedad.Nombre}}</td>
                            <td>{{reserva.Propiedad.Ciudad}} ({{reserva.Propiedad.Pais}})</td>
                            <td>{{reserva.FechaReserva}}</td>
                            <td>
                                <div ng-if="reserva.Credito == true">
                                    <b style="color:#24720d">RESERVA</b>
                                </div>
                                <div ng-if="!reserva.Credito">
                                    <b style="color:#ff0000">HOT SALE</b>
                                </div>

                            </td>
                            <td> <button id="{{reserva.IdReserva}}" ng-click="cancelarreserva($event.currentTarget.id)" class="btn btn-sm btn-danger" style="float:right;"> <i class="fa fa-fw fas fa-remove"></i></button></td>
                        </tr>                        
                    </tbody>
                </table>
            </div>


            <div id="push"></div>
        </div>

    </div>
        <script src="~/Scripts/app/Perfil_AngularJS.js"></script>
        <script src="~/Scripts/app/perfilSection.js"></script>
